body {
    background-color: #F7F7F7;
}

.image img {
    border: 1px solid white;
    height: 40px;
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    background-color: white;
}

#title {
    color: rgb(35, 39, 42);
    margin-top: 150px;
    font-size: 40px;
    text-align: center;
    font-family: helvetica;
}

.dashed {
    color: rgb(35, 39, 42);
    border-bottom: 1px solid #000;
    text-align: center;
    height: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    text-transform: uppercase;
    margin: 10px 150px 75px;
    font-family: Georgia;
}

.dashed span {
    background: #f7f7f7;
    padding: 0 20px;
}

.links {
    color: rgb(77, 77, 77);
    font-family: helvetica;
    text-transform: uppercase;
    text-align: center;
}