body {
    background-color: #F7F7F7;
}

.image img {
    border: 1px solid white;
    height: 40px;
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    background-color: white;
    top: 0;
}

#title {
    font-size: 35px;
    text-align: center;
}

div > p {
    text-transform: uppercase;
}